@font-face{font-family:'Noto Sans SC';font-weight:400;font-display:swap;src:url('NotoSansSC-Regular.ttf')}
@font-face{font-family:'Noto Sans SC';font-weight:500;font-display:swap;src:url('NotoSansSC-Medium.ttf')}
@font-face{font-family:'Noto Sans SC';font-weight:600;font-display:swap;src:url('NotoSansSC-SemiBold.ttf')}
@font-face{font-family:'Noto Sans SC';font-weight:700;font-display:swap;src:url('NotoSansSC-Bold.ttf')}
